{% extends 'base.html' %}

{% block title %}Allotment List{% endblock %}

{% block jsContent %}
<style>
    table, th, td {
        border: 1px solid black;
    }
    th {
        background-color: #006196;
        color: white;
    }
    th > a:link, th > a:visited {
        color: white;
    }
    td > a:link, td > a:visited {
        color: black;
    }
    tr:nth-child(odd) { background-color:white; }
    tr:nth-child(even) { background-color:#CDE0EB; }
    table {
        border-collapse:collapse;
    }
</style>
<script>
window.state = '{{STATE}}';
</script>
{% endblock %}

{% block content %}
<table id="itemList" ng-controller="ListController">
    <thead>
        <tr>
            <th><a href="" ng-click="predicate = 'agency'; reverse=!reverse">Agency</a></th>
            <th><a href="" ng-click="predicate = 'state'; reverse=!reverse">State</a></th>
            <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
            <th><a href="" ng-click="predicate = 'acres'; reverse=!reverse">Acres</a></th>
            <th><a href="" ng-click="predicate = 'involved'; reverse=!reverse">Involved</a></th>
            <th><a href="" ng-click="predicate = 'field_office'; reverse=!reverse">Field Office</a></th>
            <th><a href="" ng-click="predicate = 'source'; reverse=!reverse">Source</a></th>
            <th>notes</th>
        </tr>
        <tr>
            <form>
                <th><select ng-model="search.agency">
                    <option value="">All</option>
                    <option ng-repeat="item in items | unique:'agency'" value="{[{item.agency}]}">{[{item.agency}]}</option>
                </select></th>
                <th><select ng-model="search.state">
                    <option value="">All</option>
                    <option ng-repeat="item in items | unique:'state'" value="{[{item.state}]}">{[{item.state}]}</option>
                </select></th>
                <th></th>
                <th></th>
                <th>
<select ng-model="search.involved">
                        <option value="">All</option>
                        <option ng-repeat="item in items | unique:'involved'" value="{[{item.involved}]}">{[{item.involved}]}</option>
                    </select>
                </th>
                <th>
                    <select ng-model="search.field_office">
                        <option value="">All</option>
                        <option ng-repeat="item in items | unique:'field_office'" value="{[{item.field_office}]}">{[{item.field_office}]}</option>
                    </select>
                </th>
                <th>
                    <select ng-model="search.source">
                    <option value="">All</option>
                    <option ng-repeat="item in items | unique:'source'" value="{[{item.source}]}">{[{item.source}]}</option>
                </select>
                </th>
                <th><!--{[{search | json}]}--></th>
            </form>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items | filter:search | orderBy:predicate:reverse">
            <td>{[{item.agency}]}</td>
            <td>{[{item.state}]}</td>
            <td><a href="/api/allotments/{[{item.id}]}/">{[{item.name}]}</a></td>
            <td>{[{item.acres}]}</td>
            {% if user.is_authenticated %} 
                <td><input ng-model="involved" type="checkbox" ng-checked="item.involved" ng-click="toggleInvolved($event,item)" /></td>
            {% else %}
                <td>{[{item.involved}]}</td>
            {% endif %} 
            <td>{[{item.field_office}]}</td>
            <td>{[{item.source}]}</td>
            <td>{[{item.notes}]}</td>
        </tr>
    </tbody>
    </table>
{% endblock %}
