<!DOCTYPE html SYSTEM "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html ng-app="grazingdb">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block jsContent %}{% endblock %}
        <script type="text/javascript" language="javascript" src="/static/js/angular.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/angular-resource.min.js"></script>
                <script type="text/javascript" language="javascript" src="/static/js/angular-ui.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/app.js"></script>
    </head>
    <body>
        <div class="account">
            {% if user.is_authenticated %} 
                <a href="/api-auth/logout/?next=">Logout</a></li> 
            {% else %} <a href="/api-auth/login/?next={{ request.path }}">Login</a> {% endif %} 
        </div>
        {% block head %}{% endblock %}

        {% block content %} {% endblock %}
    </body>
</html>
